@{HttpCookie ck = Request.Cookies["Validation"];

    string name = string.Empty;
    if(ck != null)
    {

        name= ck["Name"];

    }

    else
    {
        name = HttpContext.Current.User.Identity.Name;
    }


}

<section name="header" class="section-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Timesheet</a>


        @if (User.Identity.IsAuthenticated)
        {
            <ul class="navbar-nav d-flex flex-row ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Hello <span id="Username">@name</span></a>
                </li>


                <li class="nav-item dropdown  ml-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Role
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="dropdown-item active"   href="#">Admin</a>
                            <a class="dropdown-item"  href="#">Manager</a>
                            <a class="dropdown-item"  href="#">User</a>

                        }
                        else if (User.IsInRole("Manager"))
                        {
                            <a class="dropdown-item "  href="#">Admin</a>
                            <a class="dropdown-item active"  href="#">Manager</a>
                            <a class="dropdown-item "  href="#">User</a>
                        }
                        else
                        {
                            <a class="dropdown-item "  href="#">Admin</a>
                            <a class="dropdown-item "  href="#">Manager</a>
                            <a class="dropdown-item active"   href="#">User</a>
                        }
                    </div>

                </li>

                <li class="nav-item ml-4">
                    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link" })
                </li>

            </ul>

        }

        else
        {
            <ul class="navbar-nav d-flex flex-row ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Login","Account")">Login</a>
                </li>

                <li class="nav-item ml-3 ">
                    <a class="nav-link" href="@Url.Action("Register","Account")">Register</a>
                </li>

            </ul>

        }
    </nav>
    @if (User.Identity.IsAuthenticated)
    {

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>





                    @*TimesheetDropdown*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Timesheets
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            @Html.ActionLink("New Timesheet", "New_Timesheet", "User", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("View Timesheet", "View_Timesheet", "User", null,
                           new { @class = "dropdown-item" })

                        </div>
                    </li>

                    @if (User.IsInRole("Manager"))
                    {

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Manage_Timesheet", "User")">Manage</a>
                        </li>
                    }

                    else if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Register</a>
                                <a class="dropdown-item" href="@Url.Action("UpdateUserDetails","Admin")">Manage</a>

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Projects
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Create_Project","Admin")">Create</a>
                                <a class="dropdown-item" href="@Url.Action("Display_Projects","Admin")">Manage</a>
                                <a class="dropdown-item" href="@Url.Action("Add_Users_To_Project","Admin")">Assign Members</a>
                                <a class="dropdown-item" href="@Url.Action("Create_Subtask","Admin")">Add Subtasks</a>

                            </div>
                        </li>

                    }




                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Change Password</a>

                        </div>
                    </li>

                </ul>

            </div>
        </nav>
    }
</section>
