@model  IEnumerable<TimesheetApp.Context.Timesheets>




    <div class="commonForm " style="width:90%">

        @if (Model.Count() == 0)
        {
            <h3 class="text-center">No Timehsheets to display</h3>
        }
        else
        {
            <h2 class="text-center">View Timesheets</h2>
            <table class="mx-auto table table-hover" id="TimesheetTable">
                <tr>
                    <th>Project</th>
                    <th>Date</th>
                    <th>Mode</th>
                    <th>Timespent</th>
                    <th>Workdone</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Project_Name
                        </td>

                        <td>

                            @item.date.Value.ToShortDateString()
                        </td>

                        <td>
                            @if (item.Mode == true)
                            {
                                <text>Office</text>
                            }
                            else
                            {
                                <text>WFH</text>
                            }
                        </td>
                        <td>
                            @item.TimeSpent.Value.ToString()
                        </td>
                        <td>
                            @item.Wokrdone
                        </td>
                        <td>
                            @if (item.Timesheet_Status == null || item.Timesheet_Status == false)
                            {
                                <text>Pending</text>
                            }
                            else
                            {
                                <text>Approved</text>
                            }
                        </td>
                        <td>
                            <input type="button" value="Edit" data-toggle="modal" data-target="#MyModal" data-id="@item.Id" class="btn btn-primary Edit-Timesheet" />
                            <input type="button" value="Delete" data-id="@item.Id" class="btn btn-danger Delete-Timesheet" />
                        </td>

                    </tr>
                }
            </table>
        }
    </div>
