@model TimesheetApp.Context.Timesheets

@{
    SelectList Projects = new SelectList(ViewBag.Projects, "Project_Name", "Project_Name", Model.Project_Name);
 

}



@using (Html.BeginForm("Edit_Timesheet", "User", FormMethod.Post,new {id="EditTimesheetForm"}))
{

    <input type="hidden" value="@HttpContext.Current.User.Identity.Name" name="User" />
    <input type="hidden" value="@Model.Id" name="Id" />

    @Html.DisplayName("Project")



    @Html.DropDownListFor(x => x.Project_Name, Projects, new { @class = "form-control" })

    <br />
    @Html.Label("Date")
    @Html.TextBox("date",Model.date.Value.ToShortDateString(), new { @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(x => x.Project_Name, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Timespent")
    <input type="time" name="TimeSpent" class="form-control" value="@Model.TimeSpent.Value" />
    <br />

    @Html.DisplayNameFor(x => x.Wokrdone)
    @Html.TextAreaFor(x => x.Wokrdone, new { @class = "form-control", value = Model.Wokrdone })
    <br />

    @Html.DisplayName("Mode")
    if (Model.Mode == true)
    {
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Mode" id="exampleRadios1" value="false">
            <label class="form-check-label" for="exampleRadios1">
                WFH
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Mode" id="exampleRadios2" value="true" checked>
            <label class="form-check-label" for="exampleRadios2">
                Office
            </label>
        </div>
    }

    else
    {
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Mode" id="exampleRadios1" value="false" checked>
            <label class="form-check-label" for="exampleRadios1">
                WFH
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Mode" id="exampleRadios2" value="true">
            <label class="form-check-label" for="exampleRadios2">
                Office
            </label>
        </div>
    }

    <br />
}

