@model TimesheetApp.Models.ChangePasswordViewModel

@using (Html.BeginForm("Change_Password", "Account", FormMethod.Post, new { @class = "commonForm",id="ChangePasswordForm" }))
{
    <h2 class="text-center">Change Password</h2>
    <input type="hidden" value="@User.Identity.Name" name="Employee_Id" />
    @Html.LabelFor(x => x.CurrentPassword)
    @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CurrentPassword, "", new { @class = "text-danger" })

    <br />

    @Html.LabelFor(x => x.NewPassword)
    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })

    <br />

    @Html.LabelFor(x => x.ConfirmPassword)
    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })

    <br />

    @Html.ValidationMessage("Wrong Password", new { @class = "text-danger" })
  
    @Html.ValidationMessage("Same Password", new { @class = "text-danger" })
    <br />

    <input type="submit" id="SavePassword" class="btn btn-info btn-submit" value="Save" />


}

<script>
    $(function () {
        $('#ChangePasswordForm').validate({

            rules: {
                CurrentPassword: "required",
                NewPassword: "required",
                ConfirmPassword: { required: true, equalTo: "#NewPassword" }


            },
            messages: {

                CurrentPassword: "please enter the current password",
                NewPassword: "please enter the new password",
                ConfirmPassword: {


                    required: "please re-enter the password",
                    equalTo: "Passwords do not match"
                },
                

            },
            errorClass: "text-danger",
           
            submitHandler: function (form) {
                var formdata = $(form).serialize();
              $.ajax({
                url: '@Url.Action("Change_Password","Account")',
                type: 'POST',
                data: formdata,
                success: function (response) {
                    if (response.result == true) {
                        $('.alert').css("display", "block")
                        $(form)[0].reset();
                        $('#ChangePasswordDisplay').html(response.message);
                        $('body,html').scrollTop(0);
                    }
                    else {
                        $('body,html').scrollTop(0);
                        $('#ChangePasswordDisplay').html(response);
                        
                    }
                },
                failure: function (response) {
                    alert('failure');
                }





            })

            }
        })
    })
    
     @*$('#SavePassword').click(function () {

        console.log('clicked')

              var formdata = $(form).serialize();
            $.ajax({
                url: '@Url.Action("Change_Password","Account")',
                type: 'POST',
                data: formdata,
                success: function (response) {
                    if (response.result == true) {
                        $('.alert').css("display", "block")
                    }
                    else {
                        $('#ChangePasswordDisplay').html(response);
                    }
                },
                failure: function (response) {
                    alert('failure');
                }





            })

        

    })*@
    

    
</script>
